{
  "$schema": "https://json.schemastore.org/stylelintrc",
  "extends": [ 
    "stylelint-config-recommended-vue/scss",
    "stylelint-config-standard",
    "stylelint-prettier/recommended"
  ],
  "rules": {
    "selector-class-pattern": null,
    "selector-id-pattern": null,
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "tailwind",
          "apply",
          "variants",
          "responsive",
          "screen"
        ]
      }
    ],
    "scss/at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "tailwind",
          "apply",
          "variants",
          "responsive",
          "screen"
        ]
      }
    ],
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ],
    "selector-pseudo-element-no-unknown": [
      true,
      {
        "ignorePseudoElements": ["v-deep"]
      }
    ],
    "function-no-unknown": [
      true,
      {
        "ignoreFunctions": ["v-bind"]
      }
    ],
    "no-descending-specificity": null
  },
  "ignoreFiles": ["**/*.js", "**/*.jsx", "**/*.ts", "**/*.tsx"]
}